body{
    background-color: rgb(238, 212, 247);
    text-align: center;
}

table {
    margin: auto;
    border-spacing: 10px;
}

.cell {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid gray;
}